/** ホームページ */
.home {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home__title {
  color: gray;
}
.home__group {
  display: flex;
  justify-content: center;
}
.home__group__button {
  margin: 16px;

}