.schedule {
  font-size: 12px;
  padding: 16px;
  background: white;
  width: 320px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.schedule__form {
  display: flex;
  flex-direction: column;
}
.schedule__label {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.schedule__content {
  padding: 8px;
  margin: 16px;
}