// task: scssの書き方に変更する
.calender {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.calender__header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.calender__title {
  color: gray;
  font-size: 24px;
}

.calender__list {
  display: flex;
  align-items: self-end;
}

.calender__inner {
  padding: 64px 0;
}

.calender__content {
  background: aliceblue;
  border-radius: 25px;
  margin: 0 4px;

  .calender__detail {
    padding: 4px;
  }
}

.calender__btn {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  background: dodgerblue;
  color: white;
}