// ホームページ
.home {
  display: flex;
  flex-direction: column;
  text-align: center;

  .home__box {
    position: fixed;
    left: -50%;
    right: -50%;
    bottom: 50%;

    .home__title {
      color: gray;
    }

    // アクションボタン
    .home__group {
      display: flex;
      justify-content: center;

      .home__group__button {
        text-decoration: none;
        margin: 16px;
        color: black;
        background: white;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }
}