.schedule {
  font-size: 12px;
  padding: 16px;
  background: aliceblue;
  width: 320px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 80px;
  right: 50px;
  left: 50px;
  box-shadow: 0 0 8px gray;
}
.schedule__form {
  display: flex;
  flex-direction: column;
}
.schedule__label {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.schedule__content {
  padding: 8px;
  margin: 16px;
}
.hidden {
  display: none;
}