// ヘッダー
.header {
  height: 60px;

  .header__group {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 16px;
  
    li:last-child {
      padding-left: 8px;
    }

    .header__link {
      text-decoration: none;
      color: gray;
    }
  }
}